.vscode/
.build/
build/
.vs/
DADT.egg-info/
dist/
test/minist/MNIST-data/
test/minist/model/
test/minist/model0/
test/minist/model1/
test/mnist/MNIST-data/
examples/mnist/MNIST-data/
examples/bert/bert/__pycache__/
