.vscode/
.build/
build/
.vs/
DADT.egg-info/
dadt.egg-info/
dist/
test/minist/MNIST-data/
test/minist/model/
test/minist/model0/
test/minist/model1/
test/mnist/MNIST-data/
examples/mnist/MNIST-data/
examples/mnist/model1
examples/mnist/model0
__pycache__